

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Example of a simple class diagram using the jsUML2 library</title>

    
    <link href="{{ url_for('static',filename='uml/UDStyle.css')}}" rel="stylesheet" />

    <script src="{{ url_for('static',filename='uml/UDCore.js')}}" ></script>
    <script src="{{ url_for('static',filename='uml/UDModules.js')}}" ></script>

    <script src="https://cdn.bootcdn.net/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/codemirror/6.65.7/codemirror.min.css" rel="stylesheet">
    
    
    <script src=https://cdn.bootcdn.net/ajax/libs/codemirror/6.65.7/mode/xml/xml.js></script>
    <script src=https://cdn.bootcdn.net/ajax/libs/codemirror/6.65.7/mode/javascript/javascript.js></script>
    <script src=https://cdn.bootcdn.net/ajax/libs/codemirror/6.65.7/mode/css/css.js></script>
    <script src=https://cdn.bootcdn.net/ajax/libs/codemirror/6.65.7/mode/htmlmixed/htmlmixed.js></script>
    
    <style type=text/css>
        .CodeMirror {
          float: left;
          width: 50%;
          height: 600px;
          border: 1px solid black;
        }
        #classDiagram-wrap {
          width: 49%;
          float: left;
          height: 600px;
          border: 1px solid black;
          border-left: 0px;
        }
      </style>

    <script type="text/javascript">
        window.onload = function () {

        }
    </script>
</head>

<body>
    <h1>Example of a simple class diagram using the jsUML2 library</h1>
    <button id=run onclick="run()">运行</button>
    <br/>
  <textarea id=code name=code>
var sequenceDiagram = new UMLSequenceDiagram({ id: 'sequenceDiagram', width: 1000, height: 580 });

// Create lifelines
var client = new UMLLifeline({ x: 100, y: 70 });
var server = new UMLLifeline({ x: 270, y: 70 });
var userList = new UMLLifeline({ x: 500, y: 70 });

// Create the block Alternative
var alternative = new UMLAlternative({ x: 40, y: 290 });

// Create the block Loop
var loop = new UMLLoop({ x: 180, y: 120 });

// Create messages
var insert = new UMLSendMessage({ a: client, b: server, y: 110 });
var searchUser = new UMLSendMessage({ a: insert.getElementB(), b: userList, y: 150 });
var foundUser = new UMLReplyMessage({ a: searchUser.getElementB(), b: insert.getElementB(), y: 180 });
var validatePassword = new UMLSendMessage({ a: insert.getElementB(), b: searchUser.getElementB(), y: 210 });
var replyValidate = new UMLReplyMessage({ a: searchUser.getElementB(), b: insert.getElementB(), y: 240 });
var permittedAccess = new UMLReplyMessage({ a: insert.getElementB(), b: client, y: 310 });
var restrictedAccess = new UMLReplyMessage({ a: insert.getElementB(), b: client, y: 380 });

// Add nodes to the diagram
sequenceDiagram.addElement(client);
sequenceDiagram.addElement(server);
sequenceDiagram.addElement(userList);
sequenceDiagram.addElement(loop);
sequenceDiagram.addElement(alternative);

// Add messages to the diagram
sequenceDiagram.addElement(insert);
sequenceDiagram.addElement(searchUser);
sequenceDiagram.addElement(foundUser);
sequenceDiagram.addElement(validatePassword);
sequenceDiagram.addElement(replyValidate);
sequenceDiagram.addElement(restrictedAccess);
sequenceDiagram.addElement(permittedAccess);

//Properties of lifelines
client.setName(':Client');
client.notifyChange();
server.setName(':Server');
server.notifyChange();
userList.setName(':userList');
userList.notifyChange();

//Properties of the block Alternative
alternative.setBackgroundColor('#F8F25A');
alternative.setWidth(300);
alternative.getNodeChilds()[0].setGuard('validated');
alternative.getNodeChilds()[1].setGuard('else');
alternative.notifyChange();
//Properties of the block Loop
loop.setBackgroundColor('#F8F25A');
loop.setWidth(400);
loop.setHeight(150);
loop.setGuard('for\neach user\n in library');
loop.notifyChange();

//Properties of the messages
insert.setName('1: insert login and password');
insert.notifyChange();
searchUser.setName('2: search for user');
searchUser.notifyChange();
foundUser.setName('3: user found');
foundUser.notifyChange();
validatePassword.setName('4: validate user');
validatePassword.notifyChange();
replyValidate.setName('5: user info');
replyValidate.notifyChange();
permittedAccess.setName('6: access permitted');
permittedAccess.notifyChange();
restrictedAccess.setName('6: access restricted');
restrictedAccess.notifyChange();



sequenceDiagram.draw();
sequenceDiagram.interaction(true);
sequenceDiagram.setUpdateHeightCanvas(true);
        </textarea>
        <div id="classDiagram-wrap">
            <div id="sequenceDiagram"></div>
        </div>
        </body>
        <script>
              var editor = CodeMirror.fromTextArea(document.getElementById('code'), {
                mode: 'js',
                styleActiveLine: true,    //高亮
                lineNumbers: true,      //显示行号  
                lineWrapping: true, //是否代码折叠
                extraKeys: {"Ctrl-Space": "autocomplete"},//智能提示
                smartIndent: true,//自动缩进，设置是否根据上下文自动缩进,默认为true
                autoCloseTags: true,//自动闭合标签
                autoCloseBrackets: true,//自动闭合括号
                matchBrackets: true,//括号匹配
              });
              function run(){
                eval(editor.getValue())
              }
        
        </script>
        </html>


