

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Demo</title>
  <!-- 请勿在项目正式环境中引用该 layui.css 地址 -->
  <link href="http://unpkg.com/layui@2.9.3/dist/css/layui.css" rel="stylesheet">

  <script src="https://cdn.bootcdn.net/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>
  <link href="https://cdn.bootcdn.net/ajax/libs/codemirror/6.65.7/codemirror.min.css" rel="stylesheet">
  
  
  <script src=https://cdn.bootcdn.net/ajax/libs/codemirror/6.65.7/mode/xml/xml.js></script>
  <script src=https://cdn.bootcdn.net/ajax/libs/codemirror/6.65.7/mode/javascript/javascript.js></script>
  <script src=https://cdn.bootcdn.net/ajax/libs/codemirror/6.65.7/mode/css/css.js></script>
  <script src=https://cdn.bootcdn.net/ajax/libs/codemirror/6.65.7/mode/htmlmixed/htmlmixed.js></script>

  <!-- 请勿在项目正式环境中引用该 layui.js 地址 -->
<script src="http://unpkg.com/layui@2.9.3/dist/layui.js"></script>
  
  <style type=text/css>
    .CodeMirror {
      
      width: 100%;
      border: 1px solid black;
      height:368px;
    }
    iframe {
      width: 99%;

      height:368px;
      border: 1px solid black;
      border-left: 0px;
    }
  </style>
</head>
<body>
    <ul class="layui-nav layui-bg-green" lay-filter="">
        <li class="layui-nav-item"><a href="/">首页</a></li>
        <li class="layui-nav-item"><a href="/news">新闻</a></li>
        <li class="layui-nav-item layui-this"><a href="task">每日任务</a></li>
        <li class="layui-nav-item"><a href="yjs">小组学习</a></li>
        <li class="layui-nav-item"><a href="forum">论坛</a></li>
      </ul>
      

<div class="layui-row" style="width:80%;margin: auto;">
    <div class="layui-col-md4">
        <div class="grid-demo grid-demo-bg1 layui-bg-green">
            <div class="layui-tab" lay-filter="test-hash">
                <ul class="layui-tab-title">
                  <li class="layui-this" lay-id="11">学习目标</li>
                  <li lay-id="22">内容讲解</li>
                  <li lay-id="33">代码示范</li>
                  <li lay-id="44">课后练习</li>

                </ul>
                <div class="layui-tab-content" style="height:300px;">
                  <div class="layui-tab-item layui-show">
                    <div>内容-1</div></div>
                  <div class="layui-tab-item">内容-2</div>
                  <div class="layui-tab-item">内容-3</div>
                  <div class="layui-tab-item">内容-4</div>

                </div>
              </div>

        </div>
    </div>
    <div class="layui-col-md4">
        <div class="grid-demo" style="padding-top: 10px">

<textarea id=code name=code>
<!doctype html>
<html>
<head>
<meta charset=utf-8>
<title>HTML5 canvas demo</title>
<style>p {font-family: monospace;}</style>
</head>
<body>
<p>Canvas pane goes here:</p>
<canvas id=pane width=300 height=200></canvas>
<script>
    var canvas = document.getElementById('pane');
    var context = canvas.getContext('2d');

    context.fillStyle = 'rgb(250,0,0)';
    context.fillRect(10, 10, 55, 50);

    context.fillStyle = 'rgba(0, 0, 250, 0.5)';
    context.fillRect(30, 30, 55, 50);
</script>
</body>
</html>
</textarea>
        </div>
    </div>
    <div class="layui-col-md4">
        <div class="grid-demo grid-demo-bg1" style="padding-top: 10px">
            <iframe id=preview></iframe>
        </div>
    </div>
    </div>
<div class="layui-container">
</div>
<script>
  var delay;
  // Initialize CodeMirror editor with a nice html5 canvas demo.
  var editor = CodeMirror.fromTextArea(document.getElementById('code'), {
    mode: 'text/html',
    styleActiveLine: true,    //高亮
    lineNumbers: true,      //显示行号  
    lineWrapping: true, //是否代码折叠
    extraKeys: {"Ctrl-Space": "autocomplete"},//智能提示
    smartIndent: true,//自动缩进，设置是否根据上下文自动缩进,默认为true
    autoCloseTags: true,//自动闭合标签
    autoCloseBrackets: true,//自动闭合括号
    matchBrackets: true,//括号匹配
  });
  editor.on("change", function() {
    clearTimeout(delay);
    delay = setTimeout(updatePreview, 300);
  });
  
  function updatePreview() {
    var previewFrame = document.getElementById('preview');
    var preview =  previewFrame.contentDocument ||  previewFrame.contentWindow.document;
    preview.open();
    preview.write(editor.getValue());
    preview.close();
    getConsole() 
  }
  setTimeout(updatePreview, 300);

function getConsole() {
    var code = editor.getValue();
    const originalLog = console.log;
    console.log = function (...value) {
    originalLog.apply(console, value);
    return value;
    };
    const response = eval(code);
    //alert(response)
    log = document.getElementById("log");
    
    log.innerHTML = response;
}


</script>


<script>
layui.use(function(){
var element = layui.element;

// hash 地址定位
var hashName = 'tabid'; // hash 名称
var layid = location.hash.replace(new RegExp('^#'+ hashName + '='), ''); // 获取 lay-id 值

// 初始切换
element.tabChange('test-hash', layid);
// 切换事件
element.on('tab(test-hash)', function(obj){
location.hash = hashName +'='+ this.getAttribute('lay-id');
alert(this.getAttribute('lay-id'))
});
});
</script>
</body>
</html>